
.jumbo {
  background-image: url('./assets/Img/background.svg');
  background-attachment: fixed;
  background-size: cover;
}

.titulos{
  color: #f5e753;
  font-family: cursive;
  text-shadow: 1px 1px 2px #dadada;
}

p{
    color: aliceblue;
  font-family: cursive;
}
.amarillo{
  color: #f5e753;
}